body {
    font-family: 'Arial', sans-serif;
    margin: 64px 128px;
}

#content {
    width: 1000px;
}

p {
    font-family: 'Times New Roman', serif;
    line-height: 24px;
}

ol {
    counter-reset: o-counter 0;
    display: table;
    list-style-type: none;
    font-family: 'Times New Roman', serif;
    font-size: 12px;
    padding-left: 0px;
}

ol > li {
    counter-increment: o-counter;
    display: table-row;
    height: 40px;
}

ol > li::before {
    content: '[' counter(o-counter) ']   ';
    display: table-cell; /* aha! */
    text-align: left;
    width: 20px;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
}

h4 {
    font-size: 10pt;
    font-weight: normal;
}

h3 {
    margin-top: 0px;
}

h5 {
    text-decoration: italic;
}

h6 {
    margin-bottom: 0px;
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

#tooltip {
    font-size: 10pt;
    font-weight: 900;
    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-opacity: 0.5;
}

.keylink {
    fill: none;
    stroke: #888888;
}

.label {
    font-size: 10pt;
    font-weight: 900;
    fill: #000000;
    cursor: default;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.align_right {
    float: right; 
    margin-left: 48px;
    margin-bottom: 24px;
    margin-top: 6px;
    width: 325px;
    height: 175px;
    border: 1px solid black;
    padding: 30px;
}

i {
    margin-right: 10px;
}

.align_right li {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.keyTitle {
    font-weight: bold;
    font-size: 14px;
}

.keyLabel {
    font-size: 12px;
}

.keyDescr {
    font-size: 12px;
    font-weight: bold;
}

.chartKey {
    fill: none;
    stroke: #888888;
}

.chart_title {
    width: 300px;
    text-align: right;
    position: relative;
    left: 700px;
    top: 135px;
}

.chart_sub_title {
    width: 175px;
    text-align: right;
    position: relative;
    font-style: italic;
    font-weight: normal;
    color: #666666;
    left: 824px;
    top: 130px;
}

.detailTitle {
    font-size: 16px;
    font-weight: bold;
}

#main_chart {
    margin: auto;
    margin-top: -100px;
}

#details_chart {
    margin-top: 15px;
    width: 525px;
    display: inline-block;
    float:left;
    margin-bottom: 64px;
}

#conclusion {
    width: 475px;
    float:left;
}

#details {
    border: 5px solid #cccccc;
}

.axis {
    shape-rendering: crispEdges;
    font-size: 11px;
}

.barLabel, .arcLabel{
    font-size: 11px;
}

.arcTitle {
    font-size: 12px;
    font-weight: bold;
}

.x.axis line {
  stroke: #333333;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.bar {
    fill: #666666;
}